$-black:#1D1F1F;
$-white:#FFFFFF;
$-red:#F53B4D;

body{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
}

.hori-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header{
    background-color: $-red;
    height: 4rem;

    strong{
        font-size: 28px;
        color: $-white;
    }
}

nav{

    a{
        color: $-white;
        font-size: 24px;
        text-decoration: none;
        margin: 0 15px;

        &:hover{
            color: $-black;
        }
    }
}

#special{
    font-size: 18px;
    border: 2px solid $-white;
    padding: 3px 4px;

    &:hover{
        border-color: $-black;
    }
}

#search-bar{

    input{
        font-family: inherit;
        border-radius: 5px;
        width: 20rem;
        height: 2rem;
        border: none;
        outline: none;
        font-size: 16px;
        background-color: $-white;
        padding-left: 5px;
    }

    ::placeholder{
        color: $-black;
    }

    button{
        color: $-white;
        background-color: $-black;
        width: 2.5rem;
        height: 2rem;
        font-family: inherit;
        border-radius: 5px;
        font-size: 20px;
        text-align: center;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

footer{
    height: 15rem;
    margin-top: 4rem;
}

#banner{
    width: 80%;
    margin:auto;
    margin-top: 2rem;

    img{
        width: 100%;
    }
}

.show-case{
    width: 80%;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 4rem;
    place-items: center;
    row-gap: 3rem;
}

.cards{
    width: 20rem;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    padding: 10px;

    img{
        width: 100%;
        height: 16rem;
        margin-bottom: 20px;
    }
}

.product-name{
    font-size: 18px;
    padding-left: 10px;
}

.bottom{
    padding: 5px 10px;

    a{
        font-size: 18px;
        letter-spacing: 1px;
        color: black;
        border: 2px solid black;
        text-decoration: none;
        padding: 2px 6px;
        font-weight: bold;
    }

    strong{
        font-size: 22px;
        float: right;
    }
}